services:
  server:
    container_name: server
    build:
      context: ./server
    env_file:
        - ./server/.env
    ports:
      - "7000:7000"
    networks:
      - bookture-network

networks:
  bookture-network:
    driver: bridge
